#root {
  margin: 0 auto;
  min-height: inherit;
  /* padding: 2rem; */
  text-align: center;
}

@keyframes fadeIn { from { opacity: 50%; }}
@keyframes fadeInStagger {
  from { opacity: 0%; }
  25% { opacity: 0%; }
  50% { opacity: 25%; }
}
@keyframes fadeOut { to { opacity: 50%; }}
@keyframes fadeOutFull { to { opacity: 0%; }}

@keyframes slideUp { from {
  translate: 0px 25px;
  transform: scale(90%);
}}
@keyframes slideDown { to {
  translate: 0px 25px;
  transform: scale(90%);
}}

@keyframes swipeRight { to {
  translate: 45vw 25px;
  rotate: 10deg;
  transform: scale(90%);
}}
@keyframes swipeLeft { to {
  translate: -45vw 25px;
  rotate: -10deg;
  transform: scale(90%);
}}

/* 
@keyframes unfoldDetails { from {
  opacity: 0;
}}
*/

@keyframes unfold { from { transform: scaleY( 40% ); }}
@keyframes fold { to { transform: scaleY( 25% ); }}

main {
  max-width: 1280px;
  max-height: 100dvh;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: inherit;
  /* position: sticky; */
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 0;
  background: black;
  height: max(10vh, 90px);
  width: 100%;
  border-radius: 10px 10px 0 0;

  transition: all 0.8s ease-in-out;

  /* TODO: fix this animation */
  /* I *think* this would involve a stacking grid */
  /* &.open{
    height: 100vh;
    transform: translateY(calc(-100vh + (max(10vh, 90px))));
    flex-direction: column;
  } */
}

section {
  width: max(95vw, 300px);
  height: max(85dvh, 300px);
  display: flex;
  flex-direction: column;
  place-self: center;
  padding: 0 2vw;

  transition: all 0.5s;

  &:not(.settings) > details {
    &[open] {
      margin-bottom: 20dvh;
      & > div {
        transition: opacity 0.7s linear;
        opacity: initial;
      }
    }

    &:not([open]) {
      & > div:first-of-type {
        opacity: 0;
      }
    }

    & > div:last-of-type {
      font-weight: bold;
    }
  }

  & > details {
    background: linear-gradient(45deg, rgba(60,0,205,0.45), rgba(60,0,205,0.7)), black;
    border-bottom: 2px solid black;

    &:not([open]):hover{
      background: linear-gradient(45deg, rgba(60,0,205,0.6), rgba(60,0,205,0.85)), black;
    }

    /* TODO: clean this up further */
    & > div.shortcuts {
      padding-top: 2dvh;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      margin-bottom: min(5dvh, 15px);
      gap: 2dvh;
      max-width: 600px;
    }
  }

  &.cards {
    overflow: hidden;
    gap: 2dvh;
    place-items: center;
  }

  &.matches, &.settings {
    overflow-y: auto;
  }

  &.upload {
    place-content: center;
  }
}

/* TODO: figure out which parts of this to tweak */
.upload form, .settings {
  display: inherit;
  flex-direction: column;

  /* width: clamp(300px, 50%, 600px); */
  align-content: space-between;
  /* gap: 5vh; */
}

.settings {
  align-items: center;

  & ul {
    padding: 0 1vw;
  }

  & > fieldset, div {
    flex-direction: column;

    &:not(:has(h3)) ul {
      padding-inline-start: 20px;
      & li { margin-bottom: 1vh; }
    }

    &:has(h3) ul {
      display: flex;
      gap: 0.75vw;
      margin-top: 0.5vh;
      margin-bottom: 0.5vh;
      flex-wrap: wrap;
      justify-content: center;
    }
  }


  & li {
    width: fit-content;
    list-style-type: none;
  }

  & details {
    display: inherit;
    flex-direction: column;
    
    &[open] { gap: 2vh; }

    & > * { margin: 0 auto; }
    & legend { margin: 0 auto; }
    
    &:first-of-type {
      margin-top: 10vh;
    }

    & ul {
      margin: 0 auto;
      max-width: 600px;
    }

    & menu:last-child {
      margin-bottom: 0;
    }

    & form {
      display: flex;
      flex-direction: column;
      gap: 1vh;
      width: clamp(300px, 75%, 800px);

      & ~ menu {
        margin-top: 1vh;
      }

      & label {
        display: inherit;
        flex-direction: inherit;
        gap: 0.5vh;

        & p:first-of-type {
          margin-top: 1vh;
        }

        & p:not(:first-of-type){
            font-size: 0.9rem;
          }
        }
      
    }

    & menu {
      width: clamp(200px, 50%, 400px);
      place-self: center;
    }
  }
}

/* TODO: decide later if I want to keep this structure here */
.upload form {
  height: clamp(250px, 60%, 350px);
  width: clamp(250px, 80%, 350px);

  margin: 0 auto;
  padding: 10%;
  font-size: 1rem;
  gap: 10dvh;
  /*
  TODO: something with this...?
    background:linear-gradient(75deg, rgba(75, 0, 150, 0.35), rgba(75, 0, 150, 0.7)),
  black;
  */
  background: linear-gradient(75deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.7)),
  rgb(75, 0, 150);
  border-radius: 5%;
  box-shadow: 2px 3px 7px black;
  align-items: center;


  & div {
    display: inherit;
    flex-direction: inherit;
    width: 100%;
    gap: 3.5dvh;
    align-items: center;
    &:last-of-type {
      height: 10dvh;
      flex-direction: column-reverse;
    }
  }

  & label {
    min-height: 140px;
    & p {
      margin: 5px auto;
    }
  }

  & input {
    font-size: inherit;
    /* TODO: style buttons */
    width: 80%;

    &[type="submit"] {
      padding: 5px 0;
      width: 50%;
    }
  }
}

details {
  place-self: center;
  width: 90%;
  margin-bottom: 1dvh;
  border-radius: 10px;

  & summary {
    list-style-position: outside;
    margin: 0 auto;
/*     place-self: center; */
    width: min(80%, 450px);
  }

  & h3 {
    margin: 0 auto;
    width: fit-content;
  }

  &[name="tabs"], &:is(section > *) {
    &[open] {
      padding: 2dvh 3vw;

      & > summary {
        /* TODO: list style something something */
        list-style-type:  none;
      }
    }

    & > summary {
      padding: 2dvh 0;
    }

    & fieldset, div:is(.settings *) {
      width: clamp(250px, 85%, 800px);
      margin: 2dvh auto;
      padding: 2dvh 1.5vw;
      border-radius: 5px;
      border: 2px solid rgb(80,0,225);
       /* linear-gradient(60deg, rgba(60,0,205,0.75), rgba(60,0,205,0.45)); */
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35), -2px -3px 10px rgba(0, 0, 0, 0.3);

      flex-direction: column;
      justify-content: space-evenly;
      /* gap: 2vw; */
      gap: 1dvh;

      & > label {
        /* margin: 0 auto; */
        &:has(input[type="number"]){
          width: 80%;
          margin: 1dvh auto;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          & input {
            width: 70%;
          }
        }
      }
    }

    & label {
      margin: 0;
      display: flex;
      gap: 1vw;
    }

    & input {
      margin: 0;
      place-self: center;
    }

    & p {
      margin: 2px auto;
    }

    & > div {
      display: flex;
      gap: 2vw;
      justify-content: space-evenly;
    }
  }
}

/* .sources {
  padding-bottom: 2vh;
} */

input, textarea, label:has(input[type="file"]) {
  background: linear-gradient(75deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.35)),
  rgb(80, 0, 160);
  font-family: inherit;
  font-size: min(18px, 1.2rem);
  text-shadow:
  1px 2px 2px rgba(0, 0, 0, 0.5),
  -1px -2px 10px rgb(30, 30, 90),
  -2px 3px 20px rgba(110, 110, 200, 0.75)
    /* -2px 3px 5px rgb(115, 115, 255), */
    /* -2px -3px 5px black */
  ;
  color: rgb(150, 150, 255);
  border: 3px solid rgba(120, 0, 210, 0.6);
  border-radius: 5px;

  &:focus {
    outline: 1px solid rgba(120, 0, 210, 0.8);
  }

  &[type="file"] {
    text-wrap: pretty;
    text-align-last: center;
    &::file-selector-button {
      width: 100%;
      padding: 5px 0;
      margin-bottom: max(2dvh, 10px);
    }
    border: none;
    background: none;
    padding: 1dvh 0;
  }
}

input {
  padding-left: 0.3vw;
}

textarea {
  width: clamp(250px, 90%, 800px);
  place-self: center;
  padding: 0.5vh 0.5vw;
  border-radius: 5px;
}

nav label, nav input {
  display: none;
}


li, .coverLetter {
  text-align: left;
}

/* FIX:
  for some reason I can't get this to nest
  more than 2 layers deep?
*/
.swiping {
  &.right { animation: swipeRight 0.6s, fadeOutFull 0.5s }
  &.left { animation: swipeLeft 0.6s, fadeOutFull 0.5s }
}

.card {
  /* container-type: inline-size;
  container-name: card; */

  & p {
    font-size: 0.9em;
  }

  /*
  &:nth-of-type(2){
    transform: translateY(25px);
  }

  grid-area: 1/1;
  */

  &.vanish{
    /* opacity: 0; */
    animation: slideDown 0.6s, fadeOutFull 0.5s;
  }

  transition: all 0.6s;

  padding: 2em;
  /* TODO: transitions here */
  border-radius: 5%;
  background: linear-gradient(75deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)),
  rgb(75, 0, 150);
  box-shadow: 2px 4px 10px black;

  width: min(90%, 550px);
  height: clamp(250px, 65dvh, 550px);

  display: flex;
  flex-direction: column;
  place-content: space-between;

  &.empty { 
    display: grid;
    place-content: center;
    animation: none;
  }

  & .content {
    width: 95%;
    margin: 0 auto;
  }
}

menu {
  padding-inline-start: 0;

  & li {
    list-style: none;
  }
}

div.buttons {
  margin-bottom: 5%;
}

div.buttons, menu {
  display: flex;
  justify-content: space-evenly;

  &:is(dialog *) {
    width: 75%;
    gap: 1dvh;
    margin: 1dvh auto;
    place-self:center;
    flex-wrap: wrap;

    & button {
      min-width: 150px;
    }
  }
}

dialog {
  text-shadow: none;
  border: 3px solid rgb(100, 108, 255);
  color: rgb(215,215,215);
  background: black;

  height: 95dvh;
  width: 95vw;

  /* TODO: highighted: text shadow: none */
  &[open] {
    animation: unfold 0.3s;
    & > * {
      animation: fadeInStagger ease-in 0.5s;
    }

    &::backdrop{
      background-color: rgba(0, 0, 0, 0.6);
      animation: fadeIn 0.3s;
    }
  }

  transition: all 0.3s ease-out allow-discrete;
  animation: fold 0.3s;

  & > form {
    display: flex;
    flex-direction: row-reverse;
  }

  & > div {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;

    & ul {
      text-align: left;
    }
  }

  & details {
    &:first-of-type {
      margin-top: 3dvh;
      margin-bottom: 1.5dvh;
    }

    &[name="tabs"] {
      padding: 0 1vw;

      background: linear-gradient(135deg,
      transparent,
      rgba(85, 0, 235, 0.3));

      &:hover:not([open]) {
        background: linear-gradient(135deg,
          transparent,
        rgba(85, 0, 235, 0.35),
        rgba(85, 0, 235, 0.55));
      }
  
      border-top: 2px solid rgba(70,0,205,0.85);
      border-bottom: 2px solid rgba(70,0,205,0.85);
  
      &[open] {
        border-top: 2px solid rgba(80,0,195,0.85);
        border-bottom: 2px solid rgba(80,0,195,0.85);
  
        background:
        /* rgba(35, 35, 35, 0.05), */
          linear-gradient(110deg,
          rgba(0, 0, 0, 0.45),
          rgba(0, 0, 0, 0.35)),
          rgb(80, 0, 190);


        /* TODO: revisit this */

        text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.45),
          /* 2px 3px 3px rgba(85, 85, 85, 0.15), */
          3px 5px 10px rgba(0, 0, 0, 0.65),
          /* -3px 4px 5px rgba(85, 85, 85, 0.25), */
          -5px -3px 15px rgba(0, 0, 0, 0.85);
          /* -7px -7px 20px rgba(0, 0, 0, 0.85); */
      }

      & p {
        padding-bottom: 0.5rem;
      }

      & li {
        padding-bottom: 1.1rem;
      }

      & form {
        display: flex;
        flex-direction: column;
        gap: 2dvh;

        & menu {
          width: clamp(200px, 50%, 400px);
        }
      }
    }
  }
}

.matches ul {
  display: flex;
  flex-direction: column;
  gap: 2dvh;
  margin-block-start: 0;
  padding-inline-start: 0;

  &.empty li {
    place-items: center;
    place-content: center;
  }

  & li {
    list-style: none;
    min-height: 10dvh;
    text-align: left;
    padding: 3%;
    background: linear-gradient(75deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.7)),
    rgb(75, 0, 150);
    /*
    background: linear-gradient(45deg,
      rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    */
    border-radius: 10px;
    border: 2px solid black;

    display: flex;
    justify-content: space-between;

    & div {
      width: 50%;
      &:last-of-type {
        display: inherit;
        align-items: flex-end;
        text-align: right;
        flex-direction: column;
      }
      & p {
        width: 100%;
      }
    }

    &:hover{
      /* linear-gradient(45deg, black, rgba(0, 0, 0, 0.6)); */
      background: linear-gradient(45deg,
        rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));

      transition: background 0.2s;
    }

    &.vanish{
      opacity: 0;
      transition: all 0.6s;
    }
  }
  & p {
    margin: 3px 0;
    max-width: 80%;
  }
}

@media screen and (max-width: 600px) {
  main, section {
    height: 100dvh;
  }
  
  main {
    min-height: unset;
    flex-direction: column;
  }

  main, nav {
    overflow-y: hidden;
  }

  section {
    height: 80dvh;
    justify-content: space-between;
    &.matches {
      height: 85dvh;
    }
    &.settings {
      justify-content: space-evenly;
    }
  }

  nav label, nav input {
    display: initial;
  }

  nav label {
    width: 100%;
  }


  nav {
    width: 100vw;
    border-radius: initial;

    & a {
      display: none;
      opacity: 0;
      /* transition: opacity 1s; FIXME: */
    }

    &:hover,
    &:has(label:focus),
    &:has(label:active) {
      height: 45dvh;
      flex-direction: column;

      & a {
        display: initial;
        opacity: 1;

      }

      & ~ section {
        height: 45dvh;
      }
    }

  }
  .card {
    padding: 0.25em;
    height: 80%;
    margin-bottom: 5vh;
  }

}

@media screen and (max-height: 600px) and (orientation: landscape) {
  main, section {
    height: 100dvh;
  }

  main {
    flex-direction: initial;
    min-height: unset;
    width: 100vw;
  }

  section {
    max-width: 85vw;
  }

  .card {
    padding: 0.75em;

    & p {
      display: none;
    }
  }
  
  /* FIXME:
    generally, touch up this layout
    (see other sections)
  */
  .upload form {
    height: min(250px, 50%);
    width: min(250px, 80%);
  }

  nav {
    height: 95dvh;
    max-width: 100px;
    padding-top: 5vh;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: initial;
    background: transparent;
    transition: background-color 0.8s, width 0.8s;
    
    & input[type="button"] {
      padding: 10px;
      transition: padding 0.3s;
    }

    & a {
      /* opacity: 0; */
      display: none;
    }

    & label, & input[type="button"] {
      display: initial;
    }

    & label {
      width: 100%;
      height: 75px;
      background: black;
      border-radius: 20px;
      align-content: center;
    }
    
    &:has(label:focus),
    &:has(label:active) {
      max-width: 150px;
      gap: 2vh;
      background: black;
      /* justify-content: space-evenly; */

      & a {
        display: unset;
        /* opacity: unset; */
        /* transition: opacity 1s; FIXME: */
      }
      & input[type="button"] {
        margin-bottom: 20px;
      }

      & ~ section {
        width: 80%;
      }
    }
  }
}


/* TODO:
- check for this on corresponding JS handlers
  (and turn them off conditionally)
- generally flesh this out with alternate and/or no effects
*/
@media screen and (prefers-reduced-motion: no-preference) {
  .card, .upload form {
    animation: slideUp 0.6s, fadeIn;
  }

}
